### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [171]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [172]:
# Find the total number of players
total_diff_players = purchase_data_df["SN"].nunique()


# Create DataFrame for total number of players
total_diff_players_df = pd.DataFrame({"Total Players": [total_diff_players]})

total_diff_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [173]:
# Find the number of unique items, average price, number of purchases, and total revenue
uniqueitems = purchase_data_df["Item ID"].nunique()
average_price = (purchase_data_df["Price"].sum() / purchase_data_df["Price"].count()).round(2)
total_number_purchases = purchase_data_df["Price"].count()
total_revenue = purchase_data_df["Price"].sum()

# Create DataFrame
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [uniqueitems],
                                     "Average Price": [average_price],
                                     "Number of Purchases": [total_number_purchases],
                                     "Total Revenue": [total_revenue]})

# Format Average Price and Total Revenue
purchasing_analysis_df.style.format({"Average Price": "${:.2f}", "Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [174]:
# Find the count and percentage of male players
male_count = purchase_data_df[purchase_data_df["Gender"] == "Male"]["SN"].nunique()
male_percentage = (male_count / total_diff_players) * 100

# Find the count and percentage of female players
female_count = purchase_data_df[purchase_data_df["Gender"] == "Female"]["SN"].nunique()
female_percentage = (female_count / total_diff_players) * 100

# Find the count and percentage of other/ Non-Disclosed
other_count = total_diff_players - male_count - female_count
other_percentage = (other_count / total_diff_players) * 100

# Create a DataFrame
gender_demographics_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                       "Total Count": [male_count, female_count, other_count],
                                       "Percentage of Players": [male_percentage, female_percentage, other_percentage]})

# Set index as Gender
gender_demographics_df = gender_demographics_df.set_index("Gender")

# Format
gender_demographics_df.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [175]:
# Find the : purhcase count, average purchase price, average purchase total purchase per person by male
male_purchase_count = purchase_data_df[purchase_data_df["Gender"] == "Male"]["Price"].count()
male_price_average =  purchase_data_df[purchase_data_df["Gender"] == "Male"]["Price"].mean()
male_total_purchase = purchase_data_df[purchase_data_df["Gender"] == "Male"]["Price"].sum()
male_average_total_purchase = male_total_purchase / male_count

# Find the : purhcase count, average purchase price, average purchase total purchase per person by female
female_purchase_count = purchase_data_df[purchase_data_df["Gender"] == "Female"]["Price"].count()
female_price_average =  purchase_data_df[purchase_data_df["Gender"] == "Female"]["Price"].mean()
female_total_purchase = purchase_data_df[purchase_data_df["Gender"] == "Female"]["Price"].sum()
female_average_total_purchase = female_total_purchase / female_count

# Find the : purhcase count, average purchase price, average purchase total purchase per person by other / non-disclosed
other_purchase_count = purchase_data_df[purchase_data_df["Gender"] == "Other / Non-Disclosed"]["Price"].count()
other_price_average =  purchase_data_df[purchase_data_df["Gender"] == "Other / Non-Disclosed"]["Price"].mean()
other_total_purchase = purchase_data_df[purchase_data_df["Gender"] == "Other / Non-Disclosed"]["Price"].sum()
other_average_total_purchase = other_total_purchase / other_count

# Create the DataFrame
purchase_analysis_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                     "Purchase Count": [male_purchase_count, female_purchase_count, other_purchase_count],
                                     "Average Purchase Price": [male_price_average, female_price_average, other_price_average],
                                     "Total Purchase Value": [male_total_purchase, female_total_purchase, other_total_purchase],
                                     "Avg Total Purchases per Person": [male_average_total_purchase, female_average_total_purchase, other_average_total_purchase]})

# Set index as Gender
purchase_analysis_df = purchase_analysis_df.set_index("Gender")

# Format
purchase_analysis_df.style.format({"Average Purchase Price": "${:.2f}",
                                   "Avg Total Purchases per Person": "${:.2f}",
                                   "Total Purchase Value": "${:.2f}",
                                   "Avg Total Purchases per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [176]:
# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create names for the bins
group_names = [" <10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+" ]

# Create a DataFrame
purchase_data_df["Age"] = pd.cut(purchase_data_df["Age"], bins, labels = group_names)

purchase_data_groupby = purchase_data_df.groupby("Age")

# DataFrame for Percentage of Players
age_demographic_df = pd.DataFrame(((purchase_data_groupby["SN"].nunique() / total_diff_players) * 100))
age_demographic_df = age_demographic_df.rename(columns = {"SN": "Percentage of Players"})

# DataFrame for Total Count
total_count_df = pd.DataFrame(purchase_data_groupby["SN"].nunique())
total_count_df = total_count_df.rename(columns = {"SN": "Total Count"})

# Merge
age_demographic_df = age_demographic_df.merge(total_count_df, on = "Age")

# Format
age_demographic_df.style.format({"Percentage of Players": "{:.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [177]:
# Create inital DataFrame with Purchase Count
purchase_analysis_age_df = pd.DataFrame(purchase_data_groupby["Price"].count())
purchase_analysis_age_df = purchase_analysis_age_df.rename(columns = {"Price": "Purchase Count"})

# Create DataFrame for Average Purchase Price
average_purchase_price_df = pd.DataFrame(purchase_data_groupby["Price"].mean())
average_purchase_price_df = average_purchase_price_df.rename(columns = {"Price": "Average Purchase Price"})

# Create DataFrame for Total Purchase Value
total_purchase_df = pd.DataFrame(purchase_data_groupby["Price"].sum())
total_purchase_df = total_purchase_df.rename(columns = {"Price": "Total Purchase Value"})

# Create DataFrame for Average Total Purchase per Person
average_total_per_person_df = pd.DataFrame((purchase_data_groupby["Price"].sum()) / purchase_data_groupby["SN"].nunique())
average_total_per_person_df = average_total_per_person_df.rename(columns = {0: "Avg Total Purchase per Person"})

# Merge
purchase_analysis_age_df = purchase_analysis_age_df.merge(average_purchase_price_df, on = "Age")
purchase_analysis_age_df = purchase_analysis_age_df.merge(total_purchase_df, on = "Age")
purchase_analysis_age_df = purchase_analysis_age_df.merge(average_total_per_person_df, on = "Age")

# Format
purchase_analysis_age_df.style.format({"Average Purchase Price": "${:.2f}",
                                   "Avg Total Purchases per Person": "${:.2f}",
                                   "Total Purchase Value": "${:.2f}",
                                   "Avg Total Purchase per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [178]:
# Group main DataFrame by SN
sn_df = purchase_data_df.groupby("SN")

# Create inital DataFrame with Purchase Count
top_spenders_df = pd.DataFrame(sn_df["Price"].count())
top_spenders_df = top_spenders_df.rename(columns = {"Price": "Purchase Count"})

# Create DataFrame for Average Purchase Price
sn_average_purchase_price_df = pd.DataFrame(sn_df["Price"].mean())
sn_average_purchase_price_df = sn_average_purchase_price_df.rename(columns = {"Price": "Average Purchase Price"})

# Create DataFrame for Total Purchase Value
sn_total_purchase_df = pd.DataFrame(sn_df["Price"].sum())
sn_total_purchase_df = sn_total_purchase_df.rename(columns = {"Price": "Total Purchase Value"})

# Merge
top_spenders_df = top_spenders_df.merge(sn_average_purchase_price_df, on = "SN")
top_spenders_df = top_spenders_df.merge(sn_total_purchase_df, on = "SN")

# Sort total purchase vale column in descending order
top_spenders_df = top_spenders_df.sort_values("Total Purchase Value", ascending = False).head()

# Format
top_spenders_df.style.format({"Average Purchase Price": "${:.2f}",
                              "Avg Total Purchases per Person": "${:.2f}",
                              "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [179]:
# Reset indeces to DataFrames so they can be merged specific elements
merge_one_df = purchase_data_df.groupby("Item Name").sum().reset_index()
merge_two_df = purchase_data_df.groupby("Item ID").sum().reset_index()
merge_three_df = purchase_data_df.groupby("Item Name").count().reset_index()

# Merge the DataFrames
merge_one_df = pd.merge(merge_one_df, merge_two_df, on = "Price")
merge_two_df = pd.merge(merge_three_df, merge_one_df, on = "Item Name")

# Start to create the final DataFrame
merge_two_df["Gender"] = (merge_two_df["Price_y"] / merge_two_df["Item ID"]).round(2)

# Rename columns
merge_two_renamed_df = merge_two_df.rename(columns = {"Age": "Purchase Count", "Gender": "Item Price",
                                                   "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

# Select columns 
popuplar_items_df = merge_two_renamed_df[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

# Se the initial index of the DataFrame
popuplar_items_df = popuplar_items_df.set_index(["Item ID", "Item Name"])

# Sort DataFrame by Purchase Count and format
popuplar_items_df = popuplar_items_df.sort_values("Purchase Count", ascending = False).head()
popuplar_items_df.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [180]:
# Sort the previous DataFrame by Total Purchase Value

popuplar_items_df = popuplar_items_df.sort_values("Total Purchase Value", ascending = False).head()
popuplar_items_df.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})