### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [179]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [180]:
# Find the total number of players
total_diff_players = purchase_data["SN"].nunique()


# Create DataFrame for total number of players
total_diff_players_df = pd.DataFrame({"Total Players": [total_diff_players]})

total_diff_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [181]:
# Find the number of unique items, average price, number of purchases, and total revenue
uniqueitems = purchase_data_df["Item ID"].nunique()
average_price = (purchase_data_df["Price"].sum() / purchase_data["Price"].count()).round(2)
total_number_purchases = purchase_data_df["Price"].count()
total_revenue = purchase_data_df["Price"].sum()

# Create DataFrame
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [uniqueitems],
                                     "Average Price": [average_price],
                                     "Number of Purchases": [total_number_purchases],
                                     "Total Revenue": [total_revenue]})

# Format Average Price and Total Revenue
purchasing_analysis_df.style.format({"Average Price": "${:.2f}", "Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [182]:
# Find the count and percentage of male players
male_count = purchase_data_df[purchase_data_df["Gender"] == "Male"]["SN"].nunique()
male_percentage = (male_count / total_diff_players) * 100

# Find the count and percentage of female players
female_count = purchase_data_df[purchase_data_df["Gender"] == "Female"]["SN"].nunique()
female_percentage = (female_count / total_diff_players) * 100

# Find the count and percentage of other/ Non-Disclosed
other_count = total_diff_players - male_count - female_count
other_percentage = (other_count / total_diff_players) * 100

# Create a DataFrame
gender_demographics_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                       "Total Count": [male_count, female_count, other_count],
                                       "Percentage of Players": [male_percentage, female_percentage, other_percentage]})

# Set index as Gender
gender_demographics_df = gender_demographics_df.set_index("Gender")
gender_demographics_df.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [183]:
# Find the : purhcase count, average purchase price, average purchase total purchase per person by male
male_purchase_count = purchase_data_df[purchase_data_df["Gender"] == "Male"]["Price"].count()
male_price_average =  purchase_data_df[purchase_data_df["Gender"] == "Male"]["Price"].mean()
male_total_purchase = purchase_data_df[purchase_data_df["Gender"] == "Male"]["Price"].sum()
male_average_total_purchase = male_total_purchase / male_count

# Find the : purhcase count, average purchase price, average purchase total purchase per person by female
female_purchase_count = purchase_data_df[purchase_data_df["Gender"] == "Female"]["Price"].count()
female_price_average =  purchase_data_df[purchase_data_df["Gender"] == "Female"]["Price"].mean()
female_total_purchase = purchase_data_df[purchase_data_df["Gender"] == "Female"]["Price"].sum()
female_average_total_purchase = female_total_purchase / female_count

# Find the : purhcase count, average purchase price, average purchase total purchase per person by other / non-disclosed
other_purchase_count = purchase_data_df[purchase_data_df["Gender"] == "Other / Non-Disclosed"]["Price"].count()
other_price_average =  purchase_data_df[purchase_data_df["Gender"] == "Other / Non-Disclosed"]["Price"].mean()
other_total_purchase = purchase_data_df[purchase_data_df["Gender"] == "Other / Non-Disclosed"]["Price"].sum()
other_average_total_purchase = other_total_purchase / other_count

# Create the DataFrame
purchase_analysis_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                     "Purchase Count": [male_purchase_count, female_purchase_count, other_purchase_count],
                                     "Average Purchase Price": [male_price_average, female_price_average, other_price_average],
                                     "Total Purchase Value": [male_total_purchase, female_total_purchase, other_total_purchase],
                                     "Avg Total Purchases per Person": [male_average_total_purchase, female_average_total_purchase, other_average_total_purchase]})

# Set index as Gender
purchase_analysis_df = purchase_analysis_df.set_index("Gender")
purchase_analysis_df.style.format({"Average Purchase Price": "${:.2f}",
                                   "Avg Total Purchases per Person": "${:.2f}",
                                   "Total Purchase Value": "${:.2f}",
                                   "Avg Total Purchases per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [184]:
# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create names for the bins
group_names = [" <10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+" ]

# Create a DataFrame
purchase_data_df["Age"] = pd.cut(purchase_data_df["Age"], bins, labels = group_names)

purchase_data_groupby = purchase_data_df.groupby("Age")

# DataFrame for Percentage of Players
age_demographic_df = pd.DataFrame(((purchase_data_groupby["SN"].nunique() / total_diff_players) * 100))
age_demographic_df = age_demographic_df.rename(columns = {"SN": "Percentage of Players"})

# DataFrame for Total Count
total_count_df = pd.DataFrame(purchase_data_groupby["SN"].nunique())
total_count_df = total_count_df.rename(columns = {"SN": "Total Count"})

# Merge
age_demographic_df = age_demographic_df.merge(total_count_df, on = "Age")


age_demographic_df.style.format({"Percentage of Players": "{:.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame